@import url('https://fonts.googleapis.com/css2?family=Mansalva&family=Story+Script&display=swap');
$fuente-titulos: "Story Script", sans-serif;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


//HEADER O CABECERA - MENU PRINCIPAL
.header{
    width: 100%;
    min-height: 150px;
    background: #000;
    display: grid;
    grid-template-columns: 65% 1fr;

    .logo{
        display: grid;
        grid-template-columns: 7% 1fr;
        place-items: center;
        margin-left: 100px;

        .imagenLogo{
            max-width: 50px;
            height: 50px;
            overflow: hidden;
            margin-bottom: 10px;

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        h1{
            width: 100%;
            font-size: 40px;
            font-family: $fuente-titulos;
            letter-spacing: 2px;
            color: white;

            span{
                color: #FCA311;
                font-family: $fuente-titulos;
            }
        }
    }

    .menu{
        margin-right: 80px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold;

        ul{
            height: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            place-items: center;
            list-style: none;

            a{  
                display: inline-block;
                color: #FCA311;
                font-family: $fuente-titulos;
                font-size: 25px;
                text-decoration: none;
                transition: all 300ms;
                
                &:hover{
                    color: white;
                    padding: 12px;
                    border-radius: 10px;
                    transform: scale(1.6);
                }
            }
        }
    }
}

//MAIN - FORMULARIO RESERVA
.main{
    height: 400px;
    background: #000;
    display: grid;
    place-content: center;

    form{
        height: 350px;
        width: 500px;
        background: #fff;
        box-shadow: 0px 0px 20px #fff;
        
        border-radius: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        padding: 20px;

        .grupoCampo{
            display: flex;
            flex-flow: column wrap;

            label{
                font-size: 14px;
                font-weight: bold;
                color: #444;
                margin-bottom: 10px;
            }

            input, 
            select{
                height: 30px;
                font-size: 15px;
                border: 2px solid #ddd;
                
                border-radius: 8px;
                outline: none;
                padding: 2px;
                transition: all 300ms;

                &:focus{
                    border-color: #FCA311;
                }
            }

            textarea{
                height: 50px;
                font-size: 15px;
                border: 2px solid #ddd;
                border-radius: 8px;
                padding: 5px;
            }
            
        }

        .anchoCompleto{
            grid-column: 1 / -1;
        }

        .boton{
            width: 30%;
            margin: 10px auto 0;
            padding: 8px;
            border: none;
            border-radius: 10px;
            background: #444;
            color: white;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            transition: all 300ms;

            &:hover{
                background: #FCA311;
                transform: translateY(-2px);
            }
        }

    }
}

//FOOTER O PIE DE PAGINA
.footer{
    width: 100%;
    height: 350px;
    display: grid;
    grid-template-columns: 30% 30% 1fr;
    background: #000;
    padding: 30px;
    place-content: center;
    
    .nosotros{
        display: flex;
        flex-flow: column wrap;
        margin-top: 20px;
        
        h3{ 
            font-family: $fuente-titulos;
            font-size: 30px;
            letter-spacing: 3px;
            color: #FCA311;
            margin-bottom: 40px;
        }

        ul{
            list-style: none;
            font-size: 20px;
            
            li{
                margin-bottom: 20px;

                a{
                    text-decoration: none;
                    color: white;
                    font-weight: bold;
                    letter-spacing: 3px;
                    transition: all 300ms;

                    &:hover{
                        color: #FCA311;
                        text-decoration: underline;
                    }
                }
            }
        }
        
    }

    .redes{
        text-align: center;
        margin-top: 20px;

        h3{
            font-family: $fuente-titulos;
            font-size: 30px;
            letter-spacing: 3px;
            color: #FCA311;
            margin-bottom: 80px;
        }

        ul{
            display: flex;
            justify-content: center;
            font-size: 40px;
            gap: 40px;
            list-style: none;

            a{
                display: inline-block;
                color: white;
                transition: all 300ms;

                &:hover{
                    color: #FCA311;
                    transform: scale(1.5);
                    text-decoration: underline;
                }
            }
        }

    }

    .ubicacion{
        margin-top: 20px;
        text-align: center;

        h3{
            font-family: $fuente-titulos;
            font-size: 30px;
            letter-spacing: 3px;
            color: #FCA311;
            margin-bottom: 10px;
        }

        iframe{
            height: 250px;
            width: 400px;
            border-radius: 30px;
        }
    }
}